<!-- Begin page content -->
<div role="main" class="container">
  <h1 class="mt-5">About Us</h1>
  <p class="lead">
    Pin a fixed-height footer to the bottom of the viewport in desktop browsers
    with this custom HTML and CSS.
  </p>
  <p>
    Use the sticky footer with a fixed navbar if need be, too.
  </p>
</div>
