<style>
  .fa-tiktok {
  color: #111111;

  filter: drop-shadow(2px 0px 0px #FD3E3E) drop-shadow(-2px -2px 0px #4DE8F4);

}
.fa.fa-instagram {
  color: transparent;
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  background: -webkit-radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  background-clip: text;
  -webkit-background-clip: text;
}
.fa-envelope {
  background: conic-gradient(from -45deg, #ea4335 110deg, #4285f4 90deg 180deg, #34a853 180deg 270deg, #fbbc05 270deg) 73% 55%/150% 150% no-repeat;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
}
</style>

<div class="col-md-12 col-sm-12 center-col text-center">
  <h1 class="mt-5">About Us</h1>
  <div class="container m-3 p-3 border-bottom">
    <p class="h3">My Name is Khalid Ahmed, I am from Yemen</p>
    <p class="h3">I developed this web apllication with ruby on rails framework</p>
  </div>

  <div class="container m-3 p-3">
    <div class="col-md-12 col-sm-12 center-col text-center m-3">
      <h3>My Social Networks</h3>
      <p class="h4">Follow me on social media below and see my new content</p>
    </div>
    <div class="row">
      <div class="col-md-12 col-sm-12 center-col text-center border-0 shadow p-3 mb-5">
          <a href="https://www.facebook.com/khaliDevx/" target="_blank">
            <i class="fa fa-facebook fa-3x text-primary m-3"></i>
          </a>
          <a href="https://twitter.com/khalid_pics" target="_blank">
            <i class="fa fa-twitter fa-3x m-3 text-info"></i>
          </a>
          <a href="https://mail.google.com/mail/?view=cm&fs=1&tf=1&to=khalid.a.dev@gmail.com" target="_blank">
            <i class="fa-regular fa-envelope fa-3x m-3 "></i>
          </a>
          <a href="https://www.instagram.com/khalid99io/" target="_blank">
            <i class="fa fa-instagram fa-3x m-3 "></i>
          </a>
          <a href="https://github.com/khaliDevx" target="_blank">
            <i class="fa fa-github fa-3x m-3 text-dark"></i>
          </a>
          <a href="https://youtube.com/channel/UC5Jwt2p6JPg4zJr3CsXpA2g" target="_blank">
            <i class="fa fa-youtube fa-3x m-3 text-danger"></i>
          </a>
          <a href="https://www.linkedin.com/in/khalid-ahmed-20423a248/" target="_blank">
            <i class="fa fa-linkedin fa-3x m-3 text-primary"></i>
          </a>
          <a href="http://tiktok.com/@khalid_vids" target="_blank">
            <i class="fa-brands fa-tiktok fa-3x m-3"></i>
          </a>
          <a href="https://linktr.ee/khalid_pics" target="_blank">
            <i class="fas fa-link fa-3x m-3 text-success"></i>
          </a>
      </div>
    </div>
  </div>
</div>
