<div class="card w-50">
  <div class="card-header p-3"><h2>Editing post</h2></div>
  <div class="card-body p-2">
    <%= render "form", post: @post %>
  </div>
  <div class="card-footer p-2">
    <%= link_to "Back to posts", posts_path , class: "btn btn-secondary"%>
    <%= link_to 'Delete', @post, data: {turbo_method: :delete, turbo_confirm: 'Are you ure?'},
                        class: "btn btn-danger mx-3"%>
  </div>
</div>
